:root {
  /* text colors for light bg*/
  --main-text-color-light-bg: #555555;
  --secondary-text-color-light-bg: #303030;

  /* text colors for dark bg*/
  --main-text-color-dark-bg: #ffffff;
  --secondary-text-color-dark-bg: #9da4bd;
  --secondary-text-color-dark-bg-opacity: #9da4bd99;

  /* background colors */
  --main-background-color: #ffffff;
  --secondary-background-color-light: #f7f7f7;
  --secondary-background-color-dark: #191c26;

  /* accent color */
  --accent-color: #ff6c00;
}

.container *:not(path) {
  outline: 1px solid red;
}

body {
  font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-text-color-light-bg);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;

  border: 1px solid var(--accent-color);
  border-radius: 25px;

  padding: 12px 20px;
}

.button-light {
  color: var(--secondary-text-color-light-bg);
}

.button-dark {
  color: var(--main-text-color-dark-bg);
}

.button:hover,
.button:focus {
  color: var(--main-text-color-dark-bg);
  background-color: var(--accent-color);
}

/* common styles */
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  /* display: flex; */
}

.container.half {
  max-width: 600px;
}

.section {
  padding: 130px 0;
}

.section-title {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--secondary-text-color-light-bg);

  margin: 20px 0;
}

.section-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--secondary-text-color-light-bg);

  display: flex;
  align-items: center;
}

.excerpt {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  margin: 20px 0 40px;
}

.line::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--secondary-text-color-light-bg);
}

/* header styles */
.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  margin: 0 auto;
  z-index: 10;
}

.page-header .container {
  padding: 32px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.page-header .logo {
  display: flex;
  margin-right: 27px;
}

.page-nav {
  flex: 1;
}

.nav-list,
.contact-list {
  display: flex;
  align-items: center;
}

.page-nav .nav-link,
.contact-list .contact-link {
  color: var(--main-text-color-dark-bg);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  margin-left: 40px;
}

.contact-list .contact-link {
  margin-right: 40px;
}

.page-nav .nav-link:hover,
.page-nav .nav-link:focus,
.page-nav .nav-link.active,
.contact-list .contact-link:hover,
.contact-list .contact-link:focus {
  color: var(--accent-color);
}

/* main styles */
.hero {
  padding: 0 15px;
}

.hero .container {
  position: relative;
}

.hero .slider {
  background-color: var(--secondary-background-color-dark);
  margin-left: 94px;
  padding: 270px 96px 200px 96px;
}

.hero-title {
  font-family: 'Raleway', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-text-color-dark-bg);

  margin: 20px 0;
}

.hero .section-subtitle {
  color: var(--secondary-text-color-dark-bg-opacity);
}

.hero .section-subtitle::before {
  background-color: var(--secondary-text-color-dark-bg-opacity);
}

.hero p {
  color: var(--secondary-text-color-dark-bg);

  max-width: 400px;
}

.hero .social-list {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: left top;
  left: 41px;
  bottom: 40px;
}

.social-list {
  display: flex;
  align-items: center;
}

.social-list::before {
  margin: 0 0 0 40px;
}

.social-list .social-link {
  display: flex;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-light-bg);

  margin-left: 40px;
}

.social-list .social-link:hover,
.social-list .social-link:focus {
  color: var(--accent-color);
}

.about .container {
  display: flex;
}

.about img:not(:last-of-type) {
  margin-right: 30px;
}

.about .wrapper {
  margin-left: 64px;
}

.price {
  background-color: var(--secondary-background-color-dark);
}

.masters {
  background-color: var(--secondary-background-color-light);
}

.reservation {
  background-color: var(--secondary-background-color-dark);
}

.reservation .section-title,
.info .section-title {
  color: var(--main-text-color-dark-bg);
}

.info {
  background-color: var(--secondary-background-color-dark);
}

.info .addr {
  font-style: normal;
}

.addr .contact-item {
  color: var(--secondary-text-color-dark-bg);
}

.contact-item[href*='mailto'] {
  text-decoration: underline;
}

.contact-item[href]:hover,
.contact-item[href]:focus {
  color: var(--accent-color);
}

.info .section-subtitle {
  color: var(--main-text-color-dark-bg);
}

.info .line::before {
  background-color: var(--secondary-text-color-dark-bg-opacity);
}

.info .schedule {
  color: var(--secondary-text-color-dark-bg);
}

/* footer styles */
.page-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--secondary-text-color-dark-bg-opacity);
}
